main {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family:  system-ui;
}

main img {
    max-height: 700px;
    max-width: 90vw;
}

main p {
    margin: 10px;
}